<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>StarBuks Sneakers</title>

  <link rel="stylesheet" href="../static/css/_animation.css">
</head>

<body>

  <ul>

    <li class="adidas">
      <div>
        <h2>RUNNING SHOES</h2>
        <p>£99.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5800.png" alt="Running Shoes">
    </li>

    <li class="tiger">
      <div>
        <h2>NIKE RUNNER</h2>
        <p>£95.00</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5816.png" alt="Nike Running Shoes">
    </li>

    <li class="adidas">
      <div>
        <h2>SPORT RUNNER</h2>
        <p>£109.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5783.png" alt="Sport Shoes">
    </li>

    <li class="tiger">
      <div>
        <h2>NIKE CLEAN</h2>
        <p>£75.00</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5823.png" alt="Nike Clean">
    </li>

    <li class="adidas">
      <div>
        <h2>ASICS RUNNER</h2>
        <p>£109.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5793.png" alt="Asics Running Shoes">
    </li>

    <li class="tiger">
      <div>
        <h2>NIKE SPORT</h2>
        <p>£80.00</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5824.png" alt="Nike Sport">
    </li>

    <li class="adidas">
      <div>
        <h2>RUNNER PRO</h2>
        <p>£149.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5806.png" alt="Runner Pro">
    </li>

    <li class="tiger">
      <div>
        <h2>CONVERSE</h2>
        <p>£75.00</p>
      </div>
      <img src="https://pngimg.com/uploads/converse/converse_PNG65.png" alt="Converse">
    </li>

    <li class="adidas">
      <div>
        <h2>STREET SHOES</h2>
        <p>£74.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5791.png" alt="Street Shoes">
    </li>

    <li class="tiger">
      <div>
        <h2>SPORT MEN</h2>
        <p>£70.00</p>
      </div>
      <img src="https://pngimg.com/uploads/men_shoes/men_shoes_PNG7487.png" alt="Sport Men Shoes">
    </li>

    <li class="adidas">
      <div>
        <h2>RUNNING SHOES</h2>
        <p>£99.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5800.png" alt="Running Shoes">
    </li>

    <li class="tiger">
      <div>
        <h2>NIKE RUNNER</h2>
        <p>£95.00</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5816.png" alt="Nike Running Shoes">
    </li>

    <li class="adidas">
      <div>
        <h2>SPORT RUNNER</h2>
        <p>£109.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5783.png" alt="Sport Shoes">
    </li>

    <li class="tiger">
      <div>
        <h2>NIKE CLEAN</h2>
        <p>£75.00</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5823.png" alt="Nike Clean">
    </li>

    <li class="adidas">
      <div>
        <h2>ASICS RUNNER</h2>
        <p>£109.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5793.png" alt="Asics Running Shoes">
    </li>

    <li class="tiger">
      <div>
        <h2>NIKE SPORT</h2>
        <p>£80.00</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5824.png" alt="Nike Sport">
    </li>

    <li class="adidas">
      <div>
        <h2>RUNNER PRO</h2>
        <p>£149.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5806.png" alt="Runner Pro">
    </li>

    <li class="tiger">
      <div>
        <h2>CONVERSE</h2>
        <p>£75.00</p>
      </div>
      <img src="https://pngimg.com/uploads/converse/converse_PNG65.png" alt="Converse">
    </li>

    <li class="adidas">
      <div>
        <h2>STREET SHOES</h2>
        <p>£74.95</p>
      </div>
      <img src="https://pngimg.com/uploads/running_shoes/running_shoes_PNG5791.png" alt="Street Shoes">
    </li>

    <li class="tiger">
      <div>
        <h2>SPORT MEN</h2>
        <p>£70.00</p>
      </div>
      <img src="https://pngimg.com/uploads/men_shoes/men_shoes_PNG7487.png" alt="Sport Men Shoes">
    </li>

  </ul>

</body>

</html>
